.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: heart-animation 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  transform-origin: center center;
  animation: sparks-animation 0.3s 0.3s ease-in alternate;
}

@keyframes arrow-animation {

  from {
    translate: none;
  }

  to {
    translate: 4px;
  }
}

@keyframes heart-animation {

  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes sparks-animation {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}