:root {
  --main-font-family: 'Inter';
  --accent-font-family: 'PressStart2P';
  --main-font-weight-normal: 400;
  --main-font-weight-bold: 700;
  --accent-font-weight-normal: 400;
  --main-text-color: #000;
  --main-background-color: #fff;
  --main-background-gradient-cell: #d3d3d3;
  --main-background-gradient: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --regular-font-size: 18px;
  --small-font-size: 14px;
  --border-size: 2px;
  --stroke-color: #fff;
  --mix-blend-color: #fff;
  --like-icon-contur: var(--main-text-color);
  --like-icon-body: #f00;
}